/* $Id$ */
/* $Id$ */

.tag-text {
  margin:5px 3px 5px 3px;
  cursor:pointer;
  background: url('remove.png') white no-repeat right center;  
  padding:3px 19px 3px 3px;
  border:1px solid grey;
  -moz-border-radius:4px; 
  float:left;
}

.tag-text a{
  cursor:pointer;
}

#tagging-widget-container .tagging-widget {
  width:150px;
  float:left;
  margin-top:3px;
  clear:both;    
}


.tagging-button {
  float:left;
  margin:3px 0px 0px 5px;
  width:19px;
  height:19px;
  background:url('add.png') transparent no-repeat center center;
}

.tagging-wrapper {  
  background-color:#eee;
  padding:5px 0px 10px 0px;
  display:inline-block;
  width:100%; 
}

.suggestion-tagging-wrapper {
  clear:both;
  background-color:#eee;
  padding:10px 0px 5px 0px;
  display:inline-block;
  width:100%; 
}

.tagging-wrapper label {
  padding:0px 0px 4px 20px;
  margin-left:5px;  
  background:url('tag.png') transparent no-repeat left center;
  
}

.suggestion-tagging-wrapper label {
  padding:0px 0px 4px 2px;
}

.suggest-tag-text {
  background: url('add.png') white no-repeat right;  
  margin:5px 5px 5px 5px;
  padding:3px 18px 3px 3px;
  cursor:pointer;
  -moz-border-radius:4px;
  border:1px solid grey;
}